In [1]:
1+1

2

In [2]:
print("hello world")

hello world

In [3]:
## Accessing List Elements
fruits=["apple","banan","cherry","kiwi","gauva"]

In [4]:
print(fruits[0])
print(fruits[1])

apple
banan

In [5]:
## Modifying The List elements
fruits

['apple', 'banan', 'cherry', 'kiwi', 'gauva']

In [6]:
fruits[0]="papaya"
print(fruits)

['papaya', 'banan', 'cherry', 'kiwi', 'gauva']

In [7]:
fruits[1:]="papaya"

In [13]:
fruits.insert(3,"watermelon")
print(fruits)

['papaya', 'p', 'a', 'watermelon', 'p', 'a', 'y', 'a', 'papaya', 'papaya', 'papaya', 'orange']

In [14]:
fruits.remove("papaya")
print(fruits)

['p', 'a', 'watermelon', 'p', 'a', 'y', 'a', 'papaya', 'papaya', 'papaya', 'orange']

In [19]:
## Rmove and return the last element

popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

a
['p', 'a', 'watermelon', 'p', 'a', 'y']

In [6]:
fruits=["banana","apple","orange","grape"]
index = fruits.index("apple")
print(index)

1

In [7]:
fruits[1]=("orange")
print(fruits)

['banana', 'orange', 'orange', 'grape']

In [10]:
fruits=["banana","apple","orange","grape"]
fruits.insert(1,"guva")
print(fruits.count("guva"))

1

In [11]:
fruits

['banana', 'guva', 'apple', 'orange', 'grape']

In [12]:
fruits.reverse()

In [13]:
fruits

['grape', 'orange', 'apple', 'guva', 'banana']

In [14]:
fruits.clear()
print(fruits)

[]

In [15]:
## slicing List
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[1:5])
print(numbers[6:])
print(numbers[:6])
print(numbers[::4])
print(numbers[::-2])

[2, 3, 4, 5]
[7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 5, 9]
[10, 8, 6, 4, 2]

In [16]:
## List comprehension
list=[]
for x in range(10):
    list.append(x**3)
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [17]:
[x**2 for x in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [19]:
## Basic List expression
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
lst=[]
for i in range(10):
        lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
## Nested List comphrension
lst1=['a','b','c','d']
lst2=[1,2,3,4]
pair=[(i,j) for i in lst1 for j in lst2]

In [26]:
print(pair)

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

In [34]:
### Iterating Over List
for number in int:
    print(number)

TypeError: 'type' object is not iterable

In [3]:
print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) //2]}")
print(f"Last  element: {lst[-1]}")

NameError: name 'lst' is not defined

In [4]:
lst = [10, 20, 30, 40, 50]  # Define the list

print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) // 2]}")
print(f"Last element: {lst[-1]}")

First element: 10
Middle element: 30
Last element: 50

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(f"first five element:{lst[:5]}")
print(f"last five element{lst[-5:]}")
print(f"elements from index 5 to 15:{lst[5:15]}")

first five element:[1, 2, 3, 4, 5]
last five element[11, 12, 13, 14, 15]
elements from index 5 to 15:[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
students = [
   {'name': 'abhi','score':43},
   {'name': 'jbhi','score':48},
   {'name': 'ebhi','score':48},
   {'name': 'dbhi','score':46},
   {'name': 'vbhi','score':42}
]
sorted_student=sorted(students,key=lambda x: x['score'],reverse= True)
for student in 'sorted_students':
   print(student)

s
o
r
t
e
d
_
s
t
u
d
e
n
t
s