In [1]:
1+1

2

In [2]:
print("hello world")

hello world

In [3]:
## Accessing List Elements
fruits=["apple","banan","cherry","kiwi","gauva"]

In [4]:
print(fruits[0])
print(fruits[1])

apple
banan

In [5]:
## Modifying The List elements
fruits

['apple', 'banan', 'cherry', 'kiwi', 'gauva']

In [6]:
fruits[0]="papaya"
print(fruits)

['papaya', 'banan', 'cherry', 'kiwi', 'gauva']

In [7]:
fruits[1:]="papaya"

In [13]:
fruits.insert(3,"watermelon")
print(fruits)

['papaya', 'p', 'a', 'watermelon', 'p', 'a', 'y', 'a', 'papaya', 'papaya', 'papaya', 'orange']

In [14]:
fruits.remove("papaya")
print(fruits)

['p', 'a', 'watermelon', 'p', 'a', 'y', 'a', 'papaya', 'papaya', 'papaya', 'orange']

In [19]:
## Rmove and return the last element

popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

a
['p', 'a', 'watermelon', 'p', 'a', 'y']

In [6]:
fruits=["banana","apple","orange","grape"]
index = fruits.index("apple")
print(index)

1

In [7]:
fruits[1]=("orange")
print(fruits)

['banana', 'orange', 'orange', 'grape']

In [10]:
fruits=["banana","apple","orange","grape"]
fruits.insert(1,"guva")
print(fruits.count("guva"))

1

In [11]:
fruits

['banana', 'guva', 'apple', 'orange', 'grape']

In [12]:
fruits.reverse()

In [13]:
fruits

['grape', 'orange', 'apple', 'guva', 'banana']

In [14]:
fruits.clear()
print(fruits)

[]

In [15]:
## slicing List
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[1:5])
print(numbers[6:])
print(numbers[:6])
print(numbers[::4])
print(numbers[::-2])

[2, 3, 4, 5]
[7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 5, 9]
[10, 8, 6, 4, 2]

In [16]:
## List comprehension
list=[]
for x in range(10):
    list.append(x**3)
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [17]:
[x**2 for x in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [19]:
## Basic List expression
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
lst=[]
for i in range(10):
        lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
## Nested List comphrension
lst1=['a','b','c','d']
lst2=[1,2,3,4]
pair=[(i,j) for i in lst1 for j in lst2]

In [26]:
print(pair)

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

In [34]:
### Iterating Over List
for number in int:
    print(number)

TypeError: 'type' object is not iterable

In [3]:
print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) //2]}")
print(f"Last  element: {lst[-1]}")

NameError: name 'lst' is not defined

In [4]:
lst = [10, 20, 30, 40, 50]  # Define the list

print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) // 2]}")
print(f"Last element: {lst[-1]}")

First element: 10
Middle element: 30
Last element: 50

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(f"first five element:{lst[:5]}")
print(f"last five element{lst[-5:]}")
print(f"elements from index 5 to 15:{lst[5:15]}")

first five element:[1, 2, 3, 4, 5]
last five element[11, 12, 13, 14, 15]
elements from index 5 to 15:[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
students = [
   {'name': 'abhi','score':43},
   {'name': 'jbhi','score':48},
   {'name': 'ebhi','score':48},
   {'name': 'dbhi','score':46},
   {'name': 'vbhi','score':42}
]
sorted_student=sorted(students,key=lambda x: x['score'],reverse= True)
for student in 'sorted_students':
   print(student)

s
o
r
t
e
d
_
s
t
u
d
e
n
t
s

In [8]:
import random

random_numbers = [random.randint(12, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [16, 12, 19, 18, 18, 12, 17, 18, 18, 20, 17, 16, 18, 19, 17]
Sorted in ascending order: [12, 12, 16, 16, 17, 17, 17, 18, 18, 18, 18, 18, 19, 19, 20]
Sorted in descending order: [20, 19, 19, 18, 18, 18, 18, 18, 17, 17, 17, 16, 16, 12, 12]
List with duplicates removed: [12, 16, 17, 18, 19, 20]

In [2]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [15]:
numbers=tuple[1,2,3,4,5,6]
numbers

tuple[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [16]:
## accessing Tuple Elements
numbers

tuple[1, 2, 3, 4, 5, 6]

In [21]:
# Define the tuple
numbers = (1, 2, 3, 4, 5, 6)

# Access elements
print(numbers[2])  # Output: 3
print(numbers[-1]) # Output: 6

3
6

In [22]:
numbers = (1,2,3,4,5,6)
numbers[::2]

(1, 3, 5)

In [23]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [26]:
## Tuple operation
numbers+mixed_tuple

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [27]:
mixed_tuple*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [28]:
## immutable Nature of Tuples
lst=[1,2,3,4,5]
print(lst)
lst="abhu"
print(lst)

[1, 2, 3, 4, 5]
abhu

In [29]:
numbers

(1, 2, 3, 4, 5, 6)

In [30]:
numbers="abhu"

In [1]:
## Tuple methods
numbers=[1,2,3,4,5,6]
print(numbers.count(4))
print(numbers.index(5))

1
4

In [2]:
## packing and unpacking tuple
## packing
packed_tuple=1,"abhu",0.4
print(packed_tuple)

(1, 'abhu', 0.4)

In [3]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
abhu
0.4

In [4]:
## unpacking with*
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(*middle)
print(last)

1
2 3 4 5
6

In [5]:
## Nested Tuple
## Nested list
lst=[[1,2,3,4],[6,7,8,9,],[1.10,"hellow"]]
lst[2][0:3]

[1.1, 'hellow']

In [6]:
nested_tuple=((1,2,3,4),("a","b","c"),(True,False))
print(nested_tuple[0][1])

2

In [7]:
## iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in nested_tuple:
        print(item,end="")
    print()

(1, 2, 3, 4)('a', 'b', 'c')(True, False)
(1, 2, 3, 4)('a', 'b', 'c')(True, False)
(1, 2, 3, 4)('a', 'b', 'c')(True, False)

In [15]:
## Tuple Opertaion
concatenation_tuple=(1,2,3) 
concatenation_tuple=numbers + mixed_tuple
   print(concatenation_tuple)

IndentationError: unexpected indent (3203638100.py, line 4)

In [ ]:

    concatenation_tuple = (1, 2, 3)
    print(concatenation_tuple)  # This line should be aligned with the previous line

example_function()

(1, 2, 3)

In [19]:
## Immutable Nature of Tuple
lst=[1,2,3,4]
print(lst)
lst[2]="abhu"
print(lst)

[1, 2, 3, 4]
[1, 2, 'abhu', 4]

In [1]:
## create set
my_set={1,2,3}
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [3]:
 my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_empty_set=(1,2,3,2,3,3,4)
print(my_empty_set)

(1, 2, 3, 2, 3, 3, 4)

In [8]:
## Basic Set Oeration
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 7}
{1, 2, 3, 7}

In [9]:
my_set.remove(2)
print(my_set)

{1, 3, 7}

In [13]:
my_set.discard(7)
print(my_set)

{1, 3}

In [15]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{3}

In [2]:
## set membership test
my_set={1,2,3,4,5}
print(6 in my_set)
print(5 in my_set)

False
True

In [1]:
## Mathematical Operation
set1={1,2,3,4,5}
set2={7,8,91,2,3}
## Union
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 7, 8, 91}

In [2]:
set1={2,4,5,5,6,7}
set2={4,5,6,7,8,9}
print(set1.difference(set2))

{2}

In [1]:
## Symmetric Difference
set1.symmetric_difference(set2)

NameError: name 'set1' is not defined

In [5]:
## Sets Method
set1={1,2,3}
set2={1,2,6}
print(set1.issubset(set2))

False

In [ ]:
## Counting Unique words in text
## pop method
## mathematical operation
## union 
## interaction
## Symmetric diference

In [4]:
## Symmetric difference
set1={1,2,3,4,5}
set2={2,3,4,5,6}
symmetric difference_set=set1.symmetric difference(set2)
=

SyntaxError: invalid syntax (137084716.py, line 4)

In [5]:
## Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)
symmetric_difference_set = set1 ^ set2

NameError: name 'set1' is not defined

In [8]:
lst=[1,2,2,3,3,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [10]:
## creating a dictionary
empty_dict={}
print(empty_dict)

{}

In [11]:
## Error
student={"name":"ramu","age":"23"}
print(student)

{'name': 'ramu', 'age': '23'}

In [13]:
## accessing dictionary elements
print(student['age'])

23

In [14]:
## Modifying Dictionary Elements
print(student)

{'name': 'ramu', 'age': '23'}

In [16]:
student["age"]=32
print(student)
student["adress"]="hindu"
print(student)

{'name': 'ramu', 'age': 32}
{'name': 'ramu', 'age': 32, 'adress': 'hindu'}

In [ ]:
## Dictionary methods
keys=student.keys()
print(keys)
values=student.values()
print(values)
items=student.items()
print(items)

dict_keys(['name', 'age', 'adress'])
dict_values(['ramu', 32, 'hindu'])
dict_items([('name', 'ramu'), ('age', 32), ('adress', 'hindu')])

In [1]:
## shallow copy
student["name"]="abhu"
print(student)
print(student_copy)

NameError: name 'student' is not defined

In [5]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

NameError: name 'student' is not defined

In [6]:
# Define the student variable
student = {
    'name': 'John Doe',
    'age': 20,
    'major': 'Computer Science'
}

# Create a shallow copy of the student dictionary
student_copy = student.copy()

# Print both the original and the copy
print("Original student:", student)
print("Shallow copy of student:", student_copy)

Original student: {'name': 'John Doe', 'age': 20, 'major': 'Computer Science'}
Shallow copy of student: {'name': 'John Doe', 'age': 20, 'major': 'Computer Science'}

In [7]:
student_copy1=student.copy()
print(student_copy)

{'name': 'John Doe', 'age': 20, 'major': 'Computer Science'}

In [12]:
## iterating over dictionaries
## iterating over keys
for keys in student.keys():
   print(keys)

name
age
major

In [16]:
## iterating over keys value pairs
for key,value in student.items():
   print(f"{key}:{value}")

name:John Doe
age:20
major:Computer Science

In [2]:
## Nested Dictionary
students={ 
   "student1":{"name":"abhu","age":"223"},
    "student2":{"name":"peter","age":"21"}
}
print(students)

{'student1': {'name': 'abhu', 'age': '223'}, 'student2': {'name': 'peter', 'age': '21'}}

In [3]:
students.items()

dict_items([('student1', {'name': 'abhu', 'age': '223'}), ('student2', {'name': 'peter', 'age': '21'})])

In [6]:
## Dictionary compressions
squares={x:x**2 for x in range(5)}
print (squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [7]:
## conditional dictionary compression
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [9]:
## merged dictionary
dict1={"a":1,"b":2}
dict2={"b":2,"c":3}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3}

In [2]:
## creating dictionary
## error
## accessing dictionary
## modifying dictionary
## dictionary methods
## shallow copy
# iterating over keys values

## nested dictinary
## accessing same
## dictionary compression 
## condition dictionary compression
## merged dictionary



##organizing student grades
grades=[20,30,45,50]

## adding new grade
grades.append(20)

## calculating average grade
average_grade=sum(grades)/ len(grades)
print(f"Average grade:{average_grade:.2f}")

## finding the highest and lowestv grades
highest_grade=max(grades)
lowest_grade=min(grades)
print (f"highest grade:{highest_grade}")
print (f"lowest grade:{highest_grade}")

Average grade:33.00
highest grade:50
lowest grade:50

## managing in inventory
inventory =["apple","orange","grapes"]

## adding a new item
inventory.append("banana")

## Checking if an item is in stock
item="apple"
if item in inventory:
   print(f"{item} are in stock.")
else:
   print(f"{item} are out stock.")

print ("Inventory List:")
for item in inventory:
   print(f"-{item}")

int a=10:
print(int)

In [3]:
#organizing student grades
grades=[20,30,45,50]

## adding new grade
grades.append(20)

## calculating average grade
average_grade=sum(grades)/ len(grades)
print(f"Average grade:{average_grade:.2f}")

## finding the highest and lowestv grades
highest_grade=max(grades)
lowest_grade=min(grades)
print (f"highest grade:{highest_grade}")
print (f"lowest grade:{highest_grade}")

Average grade:33.00
highest grade:50
lowest grade:50

In [4]:
##  why function
num=24
if num%2==0:
    print("number is even")
else:
    print("number is even")

number is even

In [12]:
## Call this function
result=even_or_odd(24)
print(result)

NameError: name 'even_or_odd' is not defined

In [13]:
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

# Now you can call the function
result = even_or_odd(24)
print(result)  # This will print "Even"

Even

In [18]:
## function with multiple parameters
def add(a,b):
   return a+b
result=add(2,3)
print(result)

5

In [24]:
## Default parameters
def greet(name):
    print(f"hello {name} I am coming a home")

greet("abhu")

hello abhu I am coming a home

In [25]:
## variable length arguments
## positional and keywords arguments
def print_number(*abhu):
    for number in abhu:
        print(number)

In [28]:
print_number(1,2,3,4,5,6,7,8 ,"abhu")

1
2
3
4
5
6
7
8
abhu

In [2]:
## keywords argument
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [4]:
print_details(name="abhu",age="23")

name:abhu
age:23

In [7]:
## function 
## calling function
## default parameters
def greet(name):
    print(f"hello:{name}")
greet("abhu")

hello:abhu

In [ ]:
## positional args
## keyword arg
## return multiply
def multiply(a,b):
    return a*b
multiply (2,3)

6

In [1]:
## calling function
print(is_strong_passord("weakpwd"))
print(is_strong_password("strongpwd"))

NameError: name 'is_strong_passord' is not defined

In [6]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']*item['quantity']

    return total_cost

## Example cart data

cart=[
    {'name':'apple','price':34,'quantity':4}
]     

## calling function
total_cost=calculate_total_cost(cart)
print(total_cost)

136

In [ ]:
def is_palindrome(s):
    s=s.lower().replace("","")
    return s==s[::-1] 
print(is_palindrome("A man is walk on the market"))
print(is_palindrome("hi"))

False
False

In [9]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

In [10]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r')as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,[]\;')
                word_count[word]=word_count.get(word,0)+1

    return word_count
filepath='sample.txt'
word_frequency=count_word_frequency(filepath)
print(word_frequency)

<>:7: SyntaxWarning: invalid escape sequence '\;'
<>:7: SyntaxWarning: invalid escape sequence '\;'
C:\Users\windows 10\AppData\Local\Temp\ipykernel_1916\1230687596.py:7: SyntaxWarning: invalid escape sequence '\;'
  word=word.lower().strip('.,[]\;')
C:\Users\windows 10\AppData\Local\Temp\ipykernel_1916\1230687596.py:7: SyntaxWarning: invalid escape sequence '\;'
  word=word.lower().strip('.,[]\;')

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'

In [12]:
def addition(a,b):
    return a+b

In [14]:
addition(2,3)

5

In [18]:
addition=lambda a,b:a+b
type(addition)
print(addition (5,7))

12

In [20]:
def even(num):
    if num%2==0:
        return False
    
even(24)

False

In [22]:
even1=lambda num:num%2==0
even1(15)

False

In [ ]:
## map()
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2
square(2)

4

In [5]:
def square(n):
    return n*n

square(4)

16

In [9]:
numbers=[1,2,3,4,5,6]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36]

In [10]:
## lamda function map
numbers=[1,2,3,4,5,6]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36]

In [20]:
## map multiple iterables
numbers1=[1,2,3,4]
numbers2=[5,6,7,8]
added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[6, 8, 10, 12]

In [22]:
str_numbers=['1','2','3','4']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4]

In [24]:
words=['apple','banana','guva']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'GUVA']

In [4]:
def get_name(person):
    return person ['name']
person=[
    {'name':'abhu','age':45}
]
list(map(get_name,person))

['abhu']

In [3]:
words=['apple','guava','mavu']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'GUAVA', 'MAVU']

In [8]:
def even(num):
    if num%2==0:
        return True

In [9]:
even(32)

True

In [11]:
lst=[1,2,3,4,5,6,7,8]
list(filter(even,lst))

[2, 4, 6, 8]

In [16]:
## filter with lambda function
numbers=[1,2,3,4,5,6,7]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7]

In [17]:
## filter with lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7]
even_greater_than_four=list(filter(lambda x:x>4 and x%2==0,numbers))
print(even_greater_than_four)

[6]

In [27]:
people=[
    {'name':'abhi','age':43},
    {'name':'vidhu','age':44}
]

def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'abhi', 'age': 43}, {'name': 'vidhu', 'age': 44}]

In [31]:
def add_to_dict(a,b=None):
    if b is None:
        b={}
    b[a] = a**2
    return b



## Test
print(add_to_dict(2))#{2:4}
print(add_to_dict(3,{1:1})) #{1:1,3:9}

{2: 4}
{1: 1, 3: 9}

In [4]:
def filter_integers(**kwargs):
    return { k:v for k,v in kwargs .items() if  isinstance(v,int)}
print(filter_integers(a=1,b='no',c=3))
print(filter_integers(x=23,y='yes',z=33))

{'a': 1, 'c': 3}
{'x': 23, 'z': 33}

In [6]:
def apply_callback(callback,lst):
    return [callback(x) for x in lst]
print(apply_callback(lambda x:x**2,[1,2,3,4] ))
print(apply_callback(lambda x:x+1,[1,2,3,4]))

[1, 4, 9, 16]
[2, 3, 4, 5]

In [7]:
def

SyntaxError: invalid syntax (1102136943.py, line 1)

In [15]:
def inner_function(x):
    def outer_function():
        return x**2
    return inner_function
square=outer_function()
print(square(2))
print(square(5))

4
25

In [16]:
def timer_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function {func.__name__} took {end_time - start_time} seconds to execute.")
        return result
    return wrapper

@timer_decorator
def complex_calculation(n):
    return sum(x**2 for x in range(n))

# Test
print(complex_calculation(10000))

NameError: name 'time' is not defined

In [27]:
def filter_and_map(filter_function,map_function,lst):
    return[map_func(x) for x in lst if filter_func(x)]
print(filter_and_map(lambda x: x % 2 == 0, lambda x: x ** 2, [1, 2, 3, 4, 5]))
print(filter_and_map(lambda x: x > 2, lambda x: x+1, [1, 2, 3, 4, 5]))

NameError: name 'filter_func' is not defined

In [20]:
def filter_and_map(filter_func, map_func, lst):
    return [map_func(x) for x in lst if filter_func(x)]

# Test
print(filter_and_map(lambda x: x % 2 == 0, lambda x: x ** 2, [1, 2, 3, 4, 5]))  # [4, 16]
print(filter_and_map(lambda x: x > 2, lambda x: x + 1, [1, 2, 3, 4, 5]))

[4, 16]
[4, 5, 6]

In [25]:
def filter_and_map(filter_function, map_function, lst):
    return [map_function(x) for x in lst if filter_function(x)]

print(filter_and_map(lambda x: x % 2 == 0, lambda x: x ** 2, [1, 2, 3, 4, 5]))
print(filter_and_map(lambda x: x > 2, lambda x: x + 1, [1, 2, 3, 4, 5]))

[4, 16]
[4, 5, 6]

In [35]:
def compose(f, g):
    return lambda x: f(g(x))
f = lambda x: x + 1
g= lambda x: x * 2
h=compose(f,g)
print(h(3)) #7
print(h(5)) #11

7
11

In [ ]:
def compose(f, g):
    return lambda x: f(g(x))

# Test
f = lambda x: x + 1
g = lambda x: x * 2
h = compose(f, g)
print(h(3))  
print(h(5))

7
11

In [43]:
from functools import partial
multiply_by_2=partial(lambda x,y:x*y,2)
print(multiply_by_2(3))
print(multiply_by_2(5))

6
10

In [45]:
def average(lst):
    try:
        return sum(lst)/len(lst)
    except ZeroDivisionError:
        return None
print(average([1,2,3,4]))
print(average([]))

2.5
None

In [46]:
ib_gen = fibonacci_generator()
for _ in range(10):
    print(next(fib_gen))

NameError: name 'fibonacci_generator' is not defined

In [51]:
def fibonacci_generator():
    a,b=4,2
    while True:
        yield a
        a,b=b,a+b

fib_gen=fibonacci_generator()
for _ in range(12):
   print(next(fib_gen))

4
2
6
8
14
22
36
58
94
152
246
398

In [1]:
def curry_product(x):
    def inner1(y):
        def inner2(z):
            return x*y*z
        return inner2
    return inner1


print(curry_product(1)(4)(3))
print(curry_product(3)(34)(3))

12
306

In [8]:
def seperate_types(lst):
    ints,strs,floats=[],[],[]
    for item in lst:
        if isinstance(item,int):
            ints.append(item)
        elif isinstance(item,str):
            str.append(item)
        elif isinstance(item,float):
            floats.append(item)
    return ints,strs,floats

print(separate_types([1,'a',2.5,4,'b',4.0,'c']))

NameError: name 'separate_types' is not defined

In [10]:
def separate_types(lst):
    ints, strs, floats = [], [], []
    for item in lst:
        if isinstance(item, int):
            ints.append(item)
        elif isinstance(item, str):
            strs.append(item)
        elif isinstance(item, float):
            floats.append(item)
    return ints, strs, floats

# Test
print(separate_types([1, 'a', 2.5, 'b', 4.0, 'c']))

([1], ['a', 'b', 'c'], [2.5, 4.0])

In [15]:
def call_counter(counter={'count':0}):
    counter['count']+=1
    return counter['count']
print(call_counter())
print(call_counter())
print(call_counter())

1
2
3