In [1]:
1+1

2

In [2]:
print("hello world")

hello world

In [3]:
## Accessing List Elements
fruits=["apple","banan","cherry","kiwi","gauva"]

In [4]:
print(fruits[0])
print(fruits[1])

apple
banan

In [5]:
## Modifying The List elements
fruits

['apple', 'banan', 'cherry', 'kiwi', 'gauva']

In [6]:
fruits[0]="papaya"
print(fruits)

['papaya', 'banan', 'cherry', 'kiwi', 'gauva']

In [7]:
fruits[1:]="papaya"

In [13]:
fruits.insert(3,"watermelon")
print(fruits)

['papaya', 'p', 'a', 'watermelon', 'p', 'a', 'y', 'a', 'papaya', 'papaya', 'papaya', 'orange']

In [14]:
fruits.remove("papaya")
print(fruits)

['p', 'a', 'watermelon', 'p', 'a', 'y', 'a', 'papaya', 'papaya', 'papaya', 'orange']

In [19]:
## Rmove and return the last element

popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

a
['p', 'a', 'watermelon', 'p', 'a', 'y']

In [6]:
fruits=["banana","apple","orange","grape"]
index = fruits.index("apple")
print(index)

1

In [7]:
fruits[1]=("orange")
print(fruits)

['banana', 'orange', 'orange', 'grape']

In [10]:
fruits=["banana","apple","orange","grape"]
fruits.insert(1,"guva")
print(fruits.count("guva"))

1

In [11]:
fruits

['banana', 'guva', 'apple', 'orange', 'grape']

In [12]:
fruits.reverse()

In [13]:
fruits

['grape', 'orange', 'apple', 'guva', 'banana']

In [14]:
fruits.clear()
print(fruits)

[]

In [15]:
## slicing List
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[1:5])
print(numbers[6:])
print(numbers[:6])
print(numbers[::4])
print(numbers[::-2])

[2, 3, 4, 5]
[7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 5, 9]
[10, 8, 6, 4, 2]

In [16]:
## List comprehension
list=[]
for x in range(10):
    list.append(x**3)
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [17]:
[x**2 for x in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [19]:
## Basic List expression
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
lst=[]
for i in range(10):
        lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
## Nested List comphrension
lst1=['a','b','c','d']
lst2=[1,2,3,4]
pair=[(i,j) for i in lst1 for j in lst2]

In [26]:
print(pair)

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('c', 1), ('c', 2), ('c', 3), ('c', 4), ('d', 1), ('d', 2), ('d', 3), ('d', 4)]

In [34]:
### Iterating Over List
for number in int:
    print(number)

TypeError: 'type' object is not iterable

In [3]:
print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) //2]}")
print(f"Last  element: {lst[-1]}")

NameError: name 'lst' is not defined

In [4]:
lst = [10, 20, 30, 40, 50]  # Define the list

print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) // 2]}")
print(f"Last element: {lst[-1]}")

First element: 10
Middle element: 30
Last element: 50

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(f"first five element:{lst[:5]}")
print(f"last five element{lst[-5:]}")
print(f"elements from index 5 to 15:{lst[5:15]}")

first five element:[1, 2, 3, 4, 5]
last five element[11, 12, 13, 14, 15]
elements from index 5 to 15:[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
students = [
   {'name': 'abhi','score':43},
   {'name': 'jbhi','score':48},
   {'name': 'ebhi','score':48},
   {'name': 'dbhi','score':46},
   {'name': 'vbhi','score':42}
]
sorted_student=sorted(students,key=lambda x: x['score'],reverse= True)
for student in 'sorted_students':
   print(student)

s
o
r
t
e
d
_
s
t
u
d
e
n
t
s

In [8]:
import random

random_numbers = [random.randint(12, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [16, 12, 19, 18, 18, 12, 17, 18, 18, 20, 17, 16, 18, 19, 17]
Sorted in ascending order: [12, 12, 16, 16, 17, 17, 17, 18, 18, 18, 18, 18, 19, 19, 20]
Sorted in descending order: [20, 19, 19, 18, 18, 18, 18, 18, 17, 17, 17, 16, 16, 12, 12]
List with duplicates removed: [12, 16, 17, 18, 19, 20]

In [2]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [15]:
numbers=tuple[1,2,3,4,5,6]
numbers

tuple[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [16]:
## accessing Tuple Elements
numbers

tuple[1, 2, 3, 4, 5, 6]

In [21]:
# Define the tuple
numbers = (1, 2, 3, 4, 5, 6)

# Access elements
print(numbers[2])  # Output: 3
print(numbers[-1]) # Output: 6

3
6

In [22]:
numbers = (1,2,3,4,5,6)
numbers[::2]

(1, 3, 5)

In [23]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [26]:
## Tuple operation
numbers+mixed_tuple

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [27]:
mixed_tuple*3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [28]:
## immutable Nature of Tuples
lst=[1,2,3,4,5]
print(lst)
lst="abhu"
print(lst)

[1, 2, 3, 4, 5]
abhu

In [29]:
numbers

(1, 2, 3, 4, 5, 6)

In [30]:
numbers="abhu"

In [1]:
## Tuple methods
numbers=[1,2,3,4,5,6]
print(numbers.count(4))
print(numbers.index(5))

1
4

In [2]:
## packing and unpacking tuple
## packing
packed_tuple=1,"abhu",0.4
print(packed_tuple)

(1, 'abhu', 0.4)

In [3]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
abhu
0.4

In [4]:
## unpacking with*
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(*middle)
print(last)

1
2 3 4 5
6

In [5]:
## Nested Tuple
## Nested list
lst=[[1,2,3,4],[6,7,8,9,],[1.10,"hellow"]]
lst[2][0:3]

[1.1, 'hellow']

In [6]:
nested_tuple=((1,2,3,4),("a","b","c"),(True,False))
print(nested_tuple[0][1])

2

In [7]:
## iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in nested_tuple:
        print(item,end="")
    print()

(1, 2, 3, 4)('a', 'b', 'c')(True, False)
(1, 2, 3, 4)('a', 'b', 'c')(True, False)
(1, 2, 3, 4)('a', 'b', 'c')(True, False)

In [15]:
## Tuple Opertaion
concatenation_tuple=(1,2,3) 
concatenation_tuple=numbers + mixed_tuple
   print(concatenation_tuple)

IndentationError: unexpected indent (3203638100.py, line 4)

In [ ]:

    concatenation_tuple = (1, 2, 3)
    print(concatenation_tuple)  # This line should be aligned with the previous line

example_function()

(1, 2, 3)

In [19]:
## Immutable Nature of Tuple
lst=[1,2,3,4]
print(lst)
lst[2]="abhu"
print(lst)

[1, 2, 3, 4]
[1, 2, 'abhu', 4]

In [1]:
## create set
my_set={1,2,3}
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [3]:
 my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_empty_set=(1,2,3,2,3,3,4)
print(my_empty_set)

(1, 2, 3, 2, 3, 3, 4)

In [8]:
## Basic Set Oeration
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 7}
{1, 2, 3, 7}

In [9]:
my_set.remove(2)
print(my_set)

{1, 3, 7}

In [13]:
my_set.discard(7)
print(my_set)

{1, 3}

In [15]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{3}

In [2]:
## set membership test
my_set={1,2,3,4,5}
print(6 in my_set)
print(5 in my_set)

False
True

In [1]:
## Mathematical Operation
set1={1,2,3,4,5}
set2={7,8,91,2,3}
## Union
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 7, 8, 91}

In [2]:
set1={2,4,5,5,6,7}
set2={4,5,6,7,8,9}
print(set1.difference(set2))

{2}

In [1]:
## Symmetric Difference
set1.symmetric_difference(set2)

NameError: name 'set1' is not defined

In [5]:
## Sets Method
set1={1,2,3}
set2={1,2,6}
print(set1.issubset(set2))

False

In [ ]:
## Counting Unique words in text
## pop method
## mathematical operation
## union 
## interaction
## Symmetric diference

In [4]:
## Symmetric difference
set1={1,2,3,4,5}
set2={2,3,4,5,6}
symmetric difference_set=set1.symmetric difference(set2)
=

SyntaxError: invalid syntax (137084716.py, line 4)

In [5]:
## Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)
symmetric_difference_set = set1 ^ set2

NameError: name 'set1' is not defined

In [8]:
lst=[1,2,2,3,3,4,5]
set(lst)

{1, 2, 3, 4, 5}